* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
	font-family: "lato", sans-serif;
	font-size: 16px;
}

button,a{
	cursor: pointer;
}
.main{
	height: auto;
	margin: 0 auto;
	max-width: 600px;
	padding-bottom: 70px;
	position: relative;
	width: 95%;
}

.title{
	font-family: 'Satisfy', cursive;
	font-size: 1.8rem;
	margin-bottom: .5rem;
	text-align: center;
}

.intro{
	font-size: .9rem;
	margin-bottom: 1em;
	text-align: center;
}

.new-quote{
	background-color: #49BA7C;
	background-color: rgba(160,200,160,.8);
	border-radius: .6em;
	box-shadow: -3px 3px  10px rgba(0,0,0, .5);
	display: block;
	font-family: "Satisfy", cursive;
	font-size: 1rem;
	margin: 0 auto;
	padding: .6em;
}
.quote{
	background-color: #fefefe;
	border-radius: .6rem;
	box-shadow: -3px 3px  10px rgba(0,0,0, .5);
	font-size: 1.2rem;
	padding: .5rem;
	margin-top: 1rem;
}

.quote-content{
	margin-bottom: .8rem;
	text-align: left;
}

.author{
	font-style: italic;
	text-align: right;
	
}

.twitter-btn{
	background: #eff5f7;
	background: -moz-linear-gradient(top, #eff5f7 0%, #cccccc 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #eff5f7), color-stop(100%, #cccccc));
	background: -webkit-linear-gradient(top, #eff5f7 0%, #cccccc 100%);
	background: -o-linear-gradient(top, #eff5f7 0%, #cccccc 100%);
	background: -ms-linear-gradient(top, #eff5f7 0%, #cccccc 100%);
	background: linear-gradient(to bottom, #eff5f7 0%, #cccccc 100%);
	border: 1px solid #aaa;
	border-radius: 5px;
	display: block;
	margin: 1rem auto;
	text-align: center;
	padding: .5em 0;
	width: 170px;	
}	

.twitter-btn:hover{
	color: red;
}

.origin{
	bottom: 1rem;
	left: 1rem;
	position: absolute;

}

@media (min-width: 750px){
	html {
		font-size: 20px;
	}

	.title {
		font-size: 3rem;
	}
}